{% load static %}
<!-- brands -->
<section class="brands">
    <div class="container">
        <div class="brand_title">
            <h2>Марки группы VAG которые мы ремонтируем</h2>
        </div>
        <div class="brand_description">Наш автосервис специализируется на ремонте автомобилей группы VAG(ВАГ). Так мы можем поддерживать необходимый ассортимет запчастей и качественно выполнять ремонт и обслуживание автомобилей.</div>
        <div class="brand_images">
            <ul class="nav nav-pills mb-3 tabs_brand" id="pills-tab" role="tablist">
                {% for brand in brands %}
                <li class="nav-item" role="presentation">
                    <button {% if forloop.first %}class="nav-link active" {% else %} class="nav-link" {% endif %} id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    <div class="brand_item">
                        <img src="{{ brand.logo.url }}" alt="">
                        </div>
                    </button>
                </li>
                {% endfor %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <section class="brands_repair">
                        <div class="container">
                            
                            <div class="car_section">
                                <div class="item">
                                    
                                    <span>IV</span>
                                    <a href="/skoda"><img src="{% static '/images/car1.png' %}" alt=""></a>
                                    <p>Audi IV 2021 – н.в.</p>
                                </div>
                                <div class="item">
                                    <span class="span_2 ">III</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Audi III Рестайлинг 2018 – 2021</p>
                                </div>
                                <div class="item">
                                    <span>III</span>
                                    <a href="/skoda"><img src="{% static '/images/car3.png' %}" alt=""></a>
                                    <p>Audi III 2014 - 2018</p>
                                </div>
                                <div class="item item_last">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car4.png' %}" alt=""></a>
                                    <p>Audi II Рестайлинг 2010 - 2014</p>
                                </div>
                            </div>
                            <div class="car_section ">
                                <div class="item">
                                    <span>II</span>
                                    <a href="/skoda"> <img src="{% static '/images/car5.png' %}" alt=""></a>
                                    <p>Audi II 2007 – 2010</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">I</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Audi I Рестайлинг 2004 - 2007</p>
                                </div>
                                <div class="item">
                                    <span>I</span>
                                    <a href="/skoda"><img src="{% static '/images/car7.png' %}" alt=""></a>
                                    <p>Audi I 1999 - 2004</p>
                                </div>
                                <div class="item item_text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span>?</span>

                                    <img src="{% static '/images/drugoy.png' %}" alt="">
                                <h2><a href="/skoda">ДРУГОЙ  АВТОМОБИЛЬ</a></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <section class="brands_repair">
                        <div class="container">
                            
                            <div class="car_section">
                                <div class="item">
                                    <span>IV</span>
                                    <a href="/skoda"><img src="{% static '/images/car1.png' %}" alt=""></a>
                                    <p>Volkswagen IV 2021 – н.в.</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">III</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Volkswagen III  2018 – 2021</p>
                                </div>
                                <div class="item">
                                    <span>III</span>
                                    <a href="/skoda"><img src="{% static '/images/car3.png' %}" alt=""></a>
                                    <p>Volkswagen III 2014 - 2018</p>
                                </div>
                                <div class="item item_last">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car4.png' %}" alt=""></a>
                                    <p>Volkswagen II  2010 - 2014</p>
                                </div>
                            </div>
                            <div class="car_section car_section2">
                                <div class="item">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car5.png' %}" alt=""></a>
                                    <p>Volkswagen II 2007 – 2010</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">I</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Volkswagen I Рестайлинг 2004 - 2007</p>
                                </div>
                                <div class="item">
                                    <span>I</span>
                                    <a href="/skoda"><img src="{% static '/images/car7.png' %}" alt=""></a>
                                    <p>Volkswagen I 1999 - 2004</p>
                                </div>
                                <div class="item item_text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span>?</span>

                                    <img src="{% static '/images/drugoy.png' %}" alt="">
                                <h2><a href="/skoda">ДРУГОЙ  АВТОМОБИЛЬ</a></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <section class="brands_repair">
                        <div class="container">
                            
                            <div class="car_section">
                                <div class="item">
                                    <span>IV</span>
                                    <a href="/skoda"><img src="{% static '/images/car1.png' %}" alt=""></a>
                                    <p>Skoda IV 2021 – н.в.</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">III</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Skoda III Рестайлинг 2018 – 2021</p>
                                </div>
                                <div class="item">
                                    <span>III</span>
                                    <a href="/skoda"><img src="{% static '/images/car3.png' %}" alt=""></a>
                                    <p>Skoda III 2014 - 2018</p>
                                </div>
                                <div class="item item_last">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car4.png' %}" alt=""></a>
                                    <p>Skoda II Рестайлинг 2010 - 2014</p>
                                </div>
                            </div>
                            <div class="car_section car_section2">
                                <div class="item">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car5.png' %}" alt=""></a>
                                    <p>Skoda II 2007 – 2010</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">I</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>Skoda I Рестайлинг 2004 - 2007</p>
                                </div>
                                <div class="item">
                                    <span>I</span>
                                    <a href="/skoda"><img src="{% static '/images/car7.png' %}" alt=""></a>
                                    <p>Skoda I 1999 - 2004</p>
                                </div>
                                <div class="item item_text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span>?</span>

                                    <img src="{% static '/images/drugoy.png' %}" alt="">
                                <h2><a href="/skoda">ДРУГОЙ  АВТОМОБИЛЬ</a></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <section class="brands_repair">
                        <div class="container">
                            
                            <div class="car_section">
                                <div class="item">
                                    <span>IV</span>
                                    <a href="/skoda"><img src="{% static '/images/car1.png' %}" alt=""></a>
                                    <p>FABIA IV 2021 – н.в.</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">III</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>FABIA III Рестайлинг 2018 – 2021</p>
                                </div>
                                <div class="item">
                                    <span>III</span>
                                    <a href="/skoda"><img src="{% static '/images/car3.png' %}" alt=""></a>
                                    <p>FABIA III 2014 - 2018</p>
                                </div>
                                <div class="item item_last">
                                    <span>II</span>
                                    <a href="/skoda"><img src="{% static '/images/car4.png' %}" alt=""></a>
                                    <p>FABIA II Рестайлинг 2010 - 2014</p>
                                </div>
                            </div>
                            <div class="car_section car_section2">
                                <div class="item">
                                    <span>II</span>
                                    <a href="/skoda"> <img src="{% static '/images/car5.png' %}" alt=""></a>
                                    <p>FABIA II 2007 – 2010</p>
                                </div>
                                <div class="item">
                                    <span class="span_lll">I</span>
                                    <a href="/skoda"><img src="{% static '/images/car2.png' %}" alt=""></a>
                                    <p>FABIA I Рестайлинг 2004 - 2007</p>
                                </div>
                                <div class="item">
                                    <span>I</span>
                                    <a href="/skoda"></a>
                                    <p>FABIA I 1999 - 2004</p>
                                </div>
                                <div class="item item_text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span>?</span>

                                    <img src="{% static '/images/drugoy.png' %}" alt="">
                                <h2><a href="/skoda">ДРУГОЙ  АВТОМОБИЛЬ</a></h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-contact3" role="tabpanel" aria-labelledby="pills-contact-tab">5</div>
                <div class="tab-pane fade" id="pills-contact4" role="tabpanel" aria-labelledby="pills-contact-tab">6</div>
                </div>
        </div>
        
        
    </div>
</section>