{% load static %}
<section class="brands">
    <div class="container">
        <div class="brand_title">
            <h2>Марки группы VAG которые мы ремонтируем</h2>
        </div>
        <div class="brand_description">Наш автосервис специализируется на ремонте автомобилей группы VAG(ВАГ). Так мы можем поддерживать необходимый ассортимет запчастей и качественно выполнять ремонт и обслуживание автомобилей.</div>
        <div class="brand_images">
            <ul class="nav nav-pills mb-3 tabs_brand" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    <div class="brand_item">
                        <a href="{% url 'group_detail' 'vag' %}"><img src="{% static '/images/brand1.png' %}" alt=""></a>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <div class="brand_item">
                            <a href="{% url 'group_detail' 'vag' %}"><img src="{% static '/images/brand3.png' %}" alt=""></a>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                    <div class="brand_item">
                        <a href="{% url 'group_detail' 'vag' %}"> <img src="{% static '/images/brand6.png' %}" alt=""></a>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                        <div class="brand_item">
                            <a href="{% url 'group_detail' 'vag' %}"><img src="{% static '/images/brand1.png' %}" alt=""></a>
                            </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact3" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                        <div class="brand_item">
                                <a href="{% url 'group_detail' 'vag' %}"><img src="{% static '/images/brand5.png' %}" alt=""></a>
                            </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact4" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                        <div class="brand_item">
                                <a href="{% url 'group_detail' 'vag' %}"></a>
                            </div>
                    </button>
                </li>
                </ul>
                
        </div>
        
        
    </div>
    
</section>