{% load static %}
<section class="brands_repair">
    <div class="container">
        <div class="title_skoda">
            <h2>Модели марки {{brand.name_ru}} которые мы ремонтируем</h2>
        </div>
        <p class="mb-5">Наш автосервис специализируется на ремонте автомобилей группы VAG(ВАГ). Так мы можем поддерживать необходимый ассортимет запчастей и качественно выполнять ремонт и обслуживание автомобилей.</p>       
        <div class="car_section">
            <div class="row">
                {% for model in models %}
                <div class="col-6 col-sm-3 mb-5">
                    <div class="item">
                        <span>{{model.name_en}}</span>
                        <a href="skoda.html"><img src="{{model.image_model.url}}" alt=""></a>
                        <p>{{model.name_en}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>