{% load static %}
<section class="brands_repair">
    <div class="container">
       
        <div class="car_section">
            <div class="item">
                
                <span>IV</span>
                <a href="skoda.html"><img src="{% static 'images/car1.png' %}" alt=""></a>
                <p>Audi IV 2021 – н.в.</p>
            </div>
            <div class="item">
                <span class="span_lll">III</span>
                <a href="skoda.html"><img src="{% static '/images/car2.png' %}" alt=""></a>
                <p>Audi III Рестайлинг 2018 – 2021</p>
            </div>
            <div class="item">
                <span>III</span>
                <a href="skoda.html"><img src="{% static '/images/car3.png' %} " alt=""></a>
                <p>Audi III 2014 - 2018</p>
            </div>
            <div class="item">
                <span>II</span>
                <a href="skoda.html"><img src="{% static '/images/car4.png' %} " alt=""></a>
                <p>Audi II Рестайлинг 2010 - 2014</p>
            </div>
        </div>
        <div class="car_section ">
            <div class="item">
                <span>II</span>
               <a href="skoda.html"> <img src="{% static '/images/car5.png' %} " alt=""></a>
                <p>Audi II 2007 – 2010</p>
            </div>
            <div class="item">
                <span class="span_lll">I</span>
                <a href="skoda.html"><img src="{% static '/images/car2.png' %} " alt=""></a>
                <p>Audi I Рестайлинг 2004 - 2007</p>
            </div>
            <div class="item">
                <span>I</span>
                <a href="skoda.html"><img src="{% static '/images/car7.png' %} " alt=""></a>
                <p>Audi I 1999 - 2004</p>
            </div>
            <div class="item item_text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>?</span>
                <img src="{% static '/images/drugoy.png' %} " alt="">
                <p><a href="">ДРУГОЙ  АВТОМОБИЛЬ</a></p>
            </div>
        </div>
    </div>
</section>