{% load static %}
<!-- step -->
<section class="step">
    <div class="container">
        <div class="clientTxt">
            <h2 class="text-white main_title d-flex justify-content-center py-5 ">Исправный автомобиль за 6 шагов </h2>
        </div>

        <div class="desc_step">
            <div class="row">
                <div class="col-6">
                    <div class="step_left">
                        <div class="stepText text-white text-end">
                            <div class="stepOne ">1</div>
                            <h3 class="step_title">Обращение к нам</h3>
                            <p class="step_description">Вы оставляете заявку или звоните нам. Наш менеджер проконсультирует Вас по стоимости работ и запчастей или запишет на бесплатную диагностику. Для записи звоните по телефону: +7 (343) 311-42-35 или закажите обратный звонок.</p>
                        </div>
    
                        <div class="stepText middle text-white text-end py-4">
                            <div class="stepOne">3</div>
                            <h3 class="step_title">Согласование списка работ и стоимости</h3>
                            <p class="step_description">После диагностики согласовываем список работ и стоимость. Стоимость остается неизменной.</p>
                        </div>
    
                        <div class="stepText text-white text-end">
                            <div class="stepOne">5</div>
                            <h3 class="step_title">Производим контроль качестваи</h3>
                            <p class="step_description">Проверяем все дважды. Делаем выходную диагностику.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="step_right mt-5">
                        <div class="stepText top text-white text-start">
                            <div class="stepOne ">2</div>
                            <h3 class="step_title">Знакомство и диагностика</h3>
                            <p class="step_description">Вы приезжаете к нам. Мы проводим осмотр авто или делаем диагностику.
                                Работ с автомобилем начинаем в течении 15 минут после приезда.</p>
                        </div>
    
                        <div class="stepText middle text-white ">
                            <div class="stepOne">4</div>
                            <h3 class="step_title">Выполняем работы</h3>
                            <p class="step_description">Выполняем ремонт, диагностику или техническое обслуживание автомобиля.
                                Если в ходе ремонта требуются дополнительные работы, то наш менеджер свяжется с Вами.
                            </p>
                        </div>
    
                        <div class="stepText text-white ">
                            <div class="stepOne ">6</div>
                            <h3 class="step_title">Возвращаем исправный автомобиль с гарантией</h3>
                            <p class="step_description">После того, как полностью проверили работоспособность автомобиля мы его возвращем. Выдаются гарантийные документы от 3 до 18 месяцев. Также даем рекомендации по обслуживанию и уходу.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mob_step">
            <div class="step_left">
                <div class="stepText text-white text-end">
                    <div class="stepOne ">1</div>
                    <h6 class="step_title">Обращение к нам</h6>
                    <p class="step_description">Вы оставляете заявку или звоните нам. Наш менеджер проконсультирует Вас по стоимости работ и запчастей или запишет на бесплатную диагностику. Для записи звоните по телефону: +7 (343) 311-42-35 или закажите обратный звонок.</p>
                </div>

                <div class="stepText top text-white text-start">
                    <div class="stepOne ">2</div>
                    <h6 class="step_title">Знакомство и диагностика</h6>
                    <p class="step_description">Вы приезжаете к нам. Мы проводим осмотр авто или делаем диагностику.
                        Работ с автомобилем начинаем в течении 15 минут после приезда.</p>
                </div>
                <div class="stepText middle text-white text-end">
                    <div class="stepOne">3</div>
                    <h6 class="step_title">Согласование списка работ и стоимости</h6>
                    <p class="step_description">После диагностики согласовываем список работ и стоимость. Стоимость остается неизменной.</p>
                </div>

                <div class="stepText middle text-white ">
                    <div class="stepOne">4</div>
                    <h6 class="step_title">Выполняем работы</h6>
                    <p class="step_description">Выполняем ремонт, диагностику или техническое обслуживание автомобиля.
                        Если в ходе ремонта требуются дополнительные работы, то наш менеджер свяжется с Вами.
                    </p>
                </div>

                <div class="stepText text-white text-end">
                    <div class="stepOne">5</div>
                    <h6 class="step_title">Производим контроль качестваи</h6>
                    <p class="step_description">Проверяем все дважды. Делаем выходную диагностику.</p>
                </div>
                <div class="stepText text-white ">
                    <div class="stepOne ">6</div>
                    <h6 class="step_title">Возвращаем исправный автомобиль с гарантией</h6>
                    <p class="step_description">После того, как полностью проверили работоспособность автомобиля мы его возвращем. Выдаются гарантийные документы от 3 до 18 месяцев. Также даем рекомендации по обслуживанию и уходу.</p>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="repair_block d-flex align-items-center justify-content-between">
                <div class="col-lg-7 repair_left">
                    <div class="repair_img">
                        <img src="{% static '/images/Mockup.png' %}" alt="">
                    </div>
                </div>
                <div class=" col-lg-5">
                    <div class="service_description">Стоимость ремонта зависит от марки и модели VAG. Узнайте точную стоимость по телефону:  <a href="tel:+73433114217">+7 (343) 311-42-17</a> или заполните форму ниже</div>
                    <form method="post" class="service_form">
                        <input class="d-block name" type="text" name="name" placeholder="Введите ваше имя:">
                        <input  class="d-block tel" type="tel" data-tel-input placeholder="Введите номер телефона:" maxlength="18" placeholder="Введите номер телефона:">
                        <div class="repair_button text-end">
                            <button class="form_button">Получить консультацию</button>
                        </div>
                        <p class="form_bottom_text">
                            Нажимая на кнопку, вы принимаете <a href="#">пользовательское соглашение</a> и подтверждаете, что ознакомлены и согласны с <a href="#">политикой конфиденциальности</a> 
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>