{% load static %}
<!-- about me -->
<section class="myself">
    <div class="container">
        <div class="row justify-content-xl-between">
            <div class="col-xl-4 col-lg-6">
                <div class="myself_img">
                    <img src="{% static '/images/mixail.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="full_me">
                    <div class="myself_title">Здравствуйте, я  Ипатов Михаил, Технический директор автосервисов Центр правильного обслуживания.</div>
                    <div class="myself_description">Вы оставляете заявку или звоните нам. Наш менеджер проконсультирует Вас по стоимости работ и запчастей или запишет на бесплатную диагностику.
                        Для записи звоните по телефону: +7 (343) 311-42-35 
                    </div>
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="me_button">Связаться с управлющим</button>
                </div>
            </div>
        </div>
        
    </div>
</section>