{% load static %}
<!-- advantages -->
<section class="advantages">
    <!-- technical service -->
    <div class="technical_service">
        <div class="container">
            <div class="technical_block d-flex">
                <div class="technical_left col-lg-5">
                    <p class="technical_top">Центр правильного обслуживания</p>
                    <h2 class="technical_bottom">Почему сотни владельцев 
                        автомобилей VAG выбрали Центр 
                        Правильного Обслуживания?
                    </h2>
                </div>
                <div class="technical_right">
                    <img src="{% static '/images/technical_service.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="advantages_block g-3 g-lg-0  gx-xl-4 d-flex  align-items-baseline">
                <div class="col-md-6 ">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                            <img src="{% static '/images/all.png' %}" alt="">
                            
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>Есть все необходимое оборудование</h3>
                        </div>
                        <div class="advantages_description">Ремонт ВАГ является нашим профилем. Есть все необходимое оборудование для диагностики и устранения любой поломки.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/1day.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>В 95% случаев ремонт занимает 1 день</h3>
                        </div>
                        <div class="advantages_description">Вам не придется ждать пока освободиться место под ремонт. Начинаем работу над ремонтом или обслуживанием автомобиля уже 15 минут после приезда.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/location.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>Все в одном месте</h3>
                        </div>
                        <div class="advantages_description">Оказываем полный спектр услуг. Мы качественно произведем работы, будь то замена масла с колодками, капитальный ремонт двигателя или покраска автомобиля.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/90.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>
                                В наличии 90% запчастей
                            </h3>
                        </div>
                        <div class="advantages_description">На нашем складе как оригинальные запчасти, 
                            так и аналоги. Вам не нужно тратить время на поиск 
                            и ожидание необходимых запчастей.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/true.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>Гарантия на работы и запчасти</h3>
                        </div>
                        <div class="advantages_description">Мы уверенны в своей работе. Даем письменную гарантию. 
                            В случае поломки мы заменим запчасть 
                            или произведем работы бесплатно.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                            <img src="{% static '/images/clock.svg' %}" alt="">                                    </a>
                        </div>
                        <div class="advantages_title">
                            <h3>Комфортная зона ожидания</h3>
                        </div>
                        <div class="advantages_description">В зоне отдыха, оборудованной плазменным телевизором, игровыми приставками, всем клиентам предлагаются бесплатные горячие напитки. Работает бесплатный Wi-Fi.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/settings.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="advantages_title">
                            <h3>Опытные мастера</h3>
                        </div>
                        <div class="advantages_description">Автомеханики, электрики и слесаря нашего автосервиса имеют минимальный опыт от 6 лет по ремонту SKODA. Нет задач по ремонту, которые мы не сможем решить.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advantages_item">
                        <div class="advantages_menu">
                            <a href="#">
                                <img src="{% static '/images/car_icon.svg' %}" alt="">
                            </a>
                            </div>
                        <div class="advantages_title">
                            <h3>Опыт с 2009 года</h3>
                        </div>
                        <div class="advantages_description">Центр Правильного  Обслуживания  успешно работает  на рынке автоуслуг с 2009 года. Нашими услугами воспользовались более 38 000 клиентов.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>