{% load static %}
 <!-- footer -->
 <footer class="footer">
    <div class="container">
        <div class="row d-flex footer-top">
            <div class="col">
                <div class="footer_top">
                    <div class="boundary header_item header_logo d-flex align-items-center">
                        <a href="#">
                            <img src="{% static '/images/logo.svg' %}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                 
                    <div class="main footer_main d-flex align-items-center">
                        <div class="header_bottom header_bottom_footer d-flex ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  О компании
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                  <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Марки
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  </ul>
                            </li>
                            <li class="nav-item dropdown">
                                  <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Наши услуги
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  </ul>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="#">Акции и новости</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="#">Контакты</a>
                            </li>
                            <li class="nav-item header_bottom_last">
                                <a class="nav-link" href="#">Карта Сайта</a>
                          </li>
                          <li class="nav-item header_bottom_last">
                            <a class="nav-link" href="#">Условия использования</a>
                        </li>
                        </div>
                        <div class=" boundary header_item social_network d-flex align-items-center">
                            <span class="circle"></span>
                            <p class="social_online">Мы онлайн</p>
                            <div class="social_icons d-flex">
                                <i class="fa-brands fa-whatsapp"></i>
                                <i class="fa-brands fa-telegram"></i>
                                <i class="fa-brands fa-viber"></i>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
        <div class="row ">
            <div class="footer_middle d-flex">
                <div class="boundary header_item location d-flex align-items-center">
                    <div class="location_img">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="location_information">
                        Эльмаш: ул. Турбинная 40
                    </div>
                </div>
                <div class="boundary header_item location d-flex align-items-center">
                    <div class="location_img">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="location_information">Автовокзал: ул. Луганская 59/1
                    </div>
                </div>
                <div class="footer_middle_left d-flex">
                    <div class="header_item contact_number text-end d-flex justify-content-center flex-column">
                        <div class="phone_number">+7 495 660-00-98</div>
                    </div>
                    <div class="header_bottom_right d-flex align-items-center">
                        <button >Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer_bottom">
                <div class="footer_text">Внимание! Данный сайт носит информационный характер и ни при каких условиях не является публичной офертой, которая определяется положениями статьи 437 (2) гражданского кодекса РФ. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к нашим менеджерам. Или мы сами свяжемся с вами.</div>
            </div>
        </div>
    </div>
</footer>


 <!-- Button trigger modal -->