{% load static %}
<!-- gallery -->
<section class="gallery">
    <div class="container">
        <div class="gallery_title">
            <h2>Фотогалерея сервисного центра</h2>
        </div>
    </div>
    <div class="gallery_image">
            <!-- Slider main container -->
        <div class=" swipper gallery_slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper gallery_slider_wrapper">
            <!-- Slides -->
            <div class="swiper-slide gallery_slide">
                <img src="{% static '/images/slider-1.png' %}" alt="" class="gallery_slide_img">
            </div>
            <div class="swiper-slide gallery_slide">
                <img src="{% static '/images/slider-2.png' %}" alt="" class="gallery_slide_img">
            </div>
            <div class="swiper-slide gallery_slide">
                <img src="{% static '/images/slider-3.png' %}" alt="" class="gallery_slide_img">
            </div>
            ...
            </div>
            
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            
        </div>
    </div>
</section>