{% load static%}
<!-- certificate -->
<section class="certificate">
    <div class="container">
        <div class="row">
            <div class="certificates_block d-flex align-items-center">
                <div class="certificate_left">
                    <div class="certificate_title">
                        <h2>Наши награды</h2>
                    </div>
                    <div class="certificate_text">Профессионализм наших сотрудников, работающих на новейшем оборудовании, высоко оценен не только клиентами, но и независимыми экспертами.</div>
                </div>
                <div class="certificate_right position-relative d-flex align-items-center">
                    
                    <div class=" certificate_additional  d-flex gap-3">
                        <div class="certificate_add_img ">
                            <img class="certificate_main active" src="{% static '/images/Rectangle 601.png' %}" alt="">
                        </div>
                        <div class="certificate_add_img certificate_rightt">
                            <img class="certificate_main" src="{% static '/images/certificate_blue.png' %}" alt="">
                        </div>
                        <div class="certificate_add_img certificate_rightt">
                            <img class="certificate_main" src="{% static '/images/Rectangle 577.png' %}" alt="">
                        </div>
                        <div class="certificate_add_img certificate_rightt">
                            <img class="certificate_main" src="{% static '/images/Rectangle 578.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>