{% load static %}
<!-- gallery -->
<section class="gallery">
    <div class="container">
        <div class="gallery_title">
            <h2>Фотогалерея сервисного центра</h2>
        </div>
    </div>
    <div class="gallery_image">
            <!-- Slider main container -->
        <div class=" swipper gallery_slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper gallery_slider_wrapper">
                <!-- Slides -->
                {% for i in gallery %}
                <div class="swiper-slide gallery_slide">
                    <img src="{{ i.image.url }}" alt="" class="gallery_slide_img">
                </div>
                
                {% endfor %}
            </div>
            
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            
        </div>
    </div>
</section>