{% load static %}
<!-- header section -->
<header>
    <div class="container">
        <div class="row">
            <div class="header_block d-flex align-items-center">
                <div class="col-lg-2 col-12 ">
                    <div class="header__top">
                        <div class="header__burger">
                            <span></span>
                        </div>
                        
                        <div class="header_bottom burger_menu d-flex">
                           
                            <li class="nav-item dropdown mb_menu">
                                  <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                                    О компании
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="">
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Диагностика</a>
                                              <div class="dropdown-contentt">
                                                <a href="#">Замена печки</a>
                                                <a href="#">Замена радиатора печки</a>
                                                <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт двигателя</a>
                                              <div class="dropdown-contentt">
                                                <a href="#">Замена печки </a>
                                                <a href="#">Замена радиатора печки </a>
                                                <a href="#">Замена салонного фильтра </a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт электрики</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт кондиционера</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт печки (отопителя)</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт подвески</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт рулевого управления</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт системы охлаждения</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="" class="dropbtn">Ремонт топливной системы</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                         
                                  </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                                    Марка
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="">
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Диагностика</a>
                                              <div class="dropdown-contentt">
                                                <a href="#">Замена печки</a>
                                                <a href="#">Замена радиатора печки</a>
                                                <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт двигателя</a>
                                              <div class="dropdown-contentt">
                                                <a href="#">Замена печки </a>
                                                <a href="#">Замена радиатора печки </a>
                                                <a href="#">Замена салонного фильтра </a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт электрики</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт кондиционера</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт печки (отопителя)</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="dropdownn">
                                              <a href="" class="dropbtn">Ремонт подвески</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт рулевого управления</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт системы охлаждения</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
  
                                      <li>
                                          <div class="dropdownn">
                                              <a href="#" class="dropbtn">Ремонт топливной системы</a>
                                              <div class="dropdown-contentt">
                                                  <a href="#">Замена печки</a>
                                                  <a href="#">Замена радиатора печки</a>
                                                  <a href="#">Замена салонного фильтра</a>
                                              </div>
                                            </div>
                                      </li>
                         
                                  </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                                    Наши услуги
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="">
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Диагностика</a>
                                          <div class="dropdown-contentt">
                                            <a href="#">Замена печки</a>
                                            <a href="#">Замена радиатора печки</a>
                                            <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт двигателя</a>
                                          <div class="dropdown-contentt">
                                            <a href="#">Замена печки </a>
                                            <a href="#">Замена радиатора печки </a>
                                            <a href="#">Замена салонного фильтра </a>
                                          </div>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт электрики</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт кондиционера</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт печки (отопителя)</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт подвески</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>

                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт рулевого управления</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>

                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт системы охлаждения</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>

                                  <li>
                                      <div class="dropdownn">
                                          <a href="#" class="dropbtn">Ремонт топливной системы</a>
                                          <div class="dropdown-contentt">
                                              <a href="#">Замена печки</a>
                                              <a href="#">Замена радиатора печки</a>
                                              <a href="#">Замена салонного фильтра</a>
                                          </div>
                                        </div>
                                  </li>
                     
                              </ul>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="{% url 'blog' %}">Акции и новости</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link active" href="#">Контакты</a>
                            </li>
                          
                           
                            
                        </div>
                        <div class=" header_item header_logo d-flex align-items-center">
                            <a href="/">
                                <img src="{% static '/images/logo.svg' %}" alt="logo">
                            </a>
                        </div>
                        <div class="header_bottom_right">
                            <button >Заказать звонок</button>
                        </div>
                        
                    </div>
                    <div class="burger_menu_bottom">
                        <div class="burger_menu_address">
                            <div class="time_work">
                                <div class="header_item contact_number text-end d-flex justify-content-center flex-column">
                                    <div class="text">без выходных: с 9.00 до 21.00</div>
                                    <a href="tel:+7495660-00-98" class="phone_number">+7 495 660-00-98</a>
                                </div>
                            </div>
                            <div class="address_work">
                                <div class="header_item location d-flex align-items-center">
                                    <div class="location_img">
                                        <i class="fa-solid fa-location-dot"></i>                    </div>
                                    <div class="location_information">
                                        Эльмаш: ул. Турбинная 40 г <br>
                                        Автовокзал: ул. Луганская 59/1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="burger_social">
                            <div class="header_item social_network d-flex align-items-center">
                                <span class="circle"></span>
                                <p class="social_online">Мы онлайн</p>
                                <div class="social_icons d-flex">
                                    <i class="fa-brands fa-whatsapp"></i>
                                    <i class="fa-brands fa-telegram"></i>
                                    <i class="fa-brands fa-viber"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="col-lg-4 col-6 col-12">

                    <div class="boundary header_item location d-flex align-items-center">
                        <div class="location_img">
                            <i class="fa-solid fa-location-dot"></i>                    </div>
                        <div class="location_information">
                            Эльмаш: ул. Турбинная 40 г
                            Автовокзал: ул. Луганская 59/1
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-12">
                    <div class="boundary header_item social_network d-flex align-items-center">
                        <span class="circle"></span>
                        <p class="social_online">Мы онлайн</p>
                        <div class="social_icons d-flex">
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-telegram"></i>
                            <i class="fa-brands fa-viber"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-12">
                    <div class="boundary header_item contact_number text-end d-flex justify-content-center flex-column">
                        <div class="text">без выходных: с 9.00 до 21.00</div>
                        <a href="tel:+7495660-00-98" class="phone_number">+7 495 660-00-98</a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</header>
<div class="header_last">
    <div class="container">
        <div class="row">
            <div class="header_bottom_wrapper  d-flex justify-content-between align-items-center">
                <div class="header_bottom burger_menu d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          О компании
                        </a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <div class="dropdownn">
                                    <a href="#" class="dropbtn">Диагностика</a>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки</a>
                                      <a href="#">Замена радиатора печки</a>
                                      <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт двигателя</button>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки </a>
                                      <a href="#">Замена радиатора печки </a>
                                      <a href="#">Замена салонного фильтра </a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт электрики</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт кондиционера</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт печки (отопителя)</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт подвески</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт рулевого управления</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт системы охлаждения</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт топливной системы</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
               
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Марки
                          </a>
                          <ul class="dropdown-menu">
                            <li class="">
                                <div class="dropdownn">
                                    <button class="dropbtn">Диагностика</button>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки</a>
                                      <a href="#">Замена радиатора печки</a>
                                      <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт двигателя</button>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки </a>
                                      <a href="#">Замена радиатора печки </a>
                                      <a href="#">Замена салонного фильтра </a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт электрики</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт кондиционера</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт печки (отопителя)</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт подвески</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт рулевого управления</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт системы охлаждения</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт топливной системы</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
               
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown_toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Наши услуги
                          </a>
                          <ul class="dropdown-menu">
                            <li class="">
                                <div class="dropdownn">
                                    <button class="dropbtn">Диагностика</button>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки</a>
                                      <a href="#">Замена радиатора печки</a>
                                      <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт двигателя</button>
                                    <div class="dropdown-contentt">
                                      <a href="#">Замена печки </a>
                                      <a href="#">Замена радиатора печки </a>
                                      <a href="#">Замена салонного фильтра </a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт электрики</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт кондиционера</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт печки (отопителя)</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт подвески</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт рулевого управления</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт системы охлаждения</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>

                            <li>
                                <div class="dropdownn">
                                    <button class="dropbtn">Ремонт топливной системы</button>
                                    <div class="dropdown-contentt">
                                        <a href="#">Замена печки</a>
                                        <a href="#">Замена радиатора печки</a>
                                        <a href="#">Замена салонного фильтра</a>
                                    </div>
                                  </div>
                            </li>
               
                        </ul>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="/blog">Акции и новости</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link active" href="#">Контакты</a>
                    </li>
                </div>
                <div class="header_bottom_right header_bottom_right3">
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
</div>