<!-- map -->
<section class="map">
    <div class="container">
        <div class="map_js"   itemscope itemtype="https://schema.org/Organization">
            <div class="map_mob">
                <iframe id="ymapp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2180.3255263690253!2d60.62711921541808!3d56.87466131237727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16de98e2f27eb%3A0x26d849b8676c9aa9!2z0KbQtdC90YLRgCDQn9GA0LDQstC40LvRjNC90L7Qs9C-INCe0LHRgdC70YPQttC40LLQsNC90LjRjw!5e0!3m2!1sru!2s!4v1661437400905!5m2!1sru!2s"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
                            <div class="map_contact">
                <div class="map_contact_title"><h2 itemprop="contact">Контакты</h2></div>
                    <div class="map_contact_text" itemprop="address">Автосервисы «Центр Правильно Обслуживания»
                        Принимаем звонки и заявки с 9:00 до 21:00 Ежедневно
                        Номер телефона: +7 (343) 311-42-35 
                    </div>
                    <a href="#" itemprop="streetAddress" class="d-flex align-items-center gap-3">
                        <i class="fa-solid fa-location-dot"></i>                    
                        г. Екатеринбург, ул. Турбинная, д.40Г
                    </a>
                    <a href="#" itemprop="streetAddress" class="d-flex align-items-center gap-3">
                        <i class="fa-solid fa-location-dot"></i>
                        г. Екатеринбург, ул. Луганская, д.59к1
                    </a>
            </div>
        </div>
    </div>
</section>