<!-- Button trigger modal -->
<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Заказ <br>
                обратного звонка</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
          <form method="post">
            <div class="form_title"></div>
            <div class="form_desc">Введите имя и номер телефона и <br> наш менеджер свяжется с Вами в <br> течение 15 минут</div>
            <input class="d-block name" type="text" name="name" placeholder="Введите ваше имя:">
            <input  class="d-block tel" type="tel" data-tel-input placeholder="Введите номер телефона:" maxlength="18"  placeholder="Введите номер телефона:">
            <div class="button text-center">
                <button class="form_button ">Получить консультацию</button>
            </div>
            <a href="#" class="form_bottom">Нажимая на кнопку, вы принимаете <span>пользовательское соглашение</span> и подтверждаете, что ознакомлены и согласны с политикой конфиденциальности </a>
        </form>
        </div>
    
      </div>
    </div>
  </div>