{% load static %}
<!-- Our worker -->
<section class="worker">
    <div class="container">
        <div class="worker_title">
            <h3>Наши <span>сотрудники</span></h3>
        </div>
        <div class="worker_img">
            <img src="{% static '/images/worker.png' %}" alt="s">
        </div>
        <div class="worker_card">
            <div class="swipper worker_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    
                                <div class="card_item d-flex bg-light">
                                    <div class="col-lg-5">
                                        <div class="card_img">
                                            <img src="{% static '/images/alex.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="card_desc">
                                            <div class="card_name">Александр</div>
                                            <div class="card_about">Вы оставляете заявку или звоните нам. Наш менеджер проконсультирует Вас по стоимости работ и запчастей или запишет на бесплатную диагностику.
                                                Для записи звоните по телефону: +7 (343) 311-42-35 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="card_item d-flex bg-light">
                                <div class="col-lg-5">
                                    <div class="card_img">
                                        <img src="{% static '/images/alex.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="card_desc">
                                        <div class="card_name">Александр</div>
                                        <div class="card_about">Вы оставляете заявку или звоните нам. Наш менеджер проконсультирует Вас по стоимости работ и запчастей или запишет на бесплатную диагностику.
                                            Для записи звоните по телефону: +7 (343) 311-42-35 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>