{% load static %}
<!-- Our worker -->
<section class="worker">
    <div class="container">
        <div class="worker_title">
            <h3>Наши <span>сотрудники</span></h3>
        </div>
        <div class="worker_img">
            <img src="{% static '/images/worker.png' %}" alt="s">
        </div>
        <div class="worker_card">
            <div class="swipper worker_slider">
                <div class="swiper-wrapper">
                    {% autoescape off %}
                    {% for worker in workers %}
                    <div class="swiper-slide">
                                <div class="card_item d-flex bg-light">
                                    <div class="col-lg-5">
                                        <div class="card_img">
                                            <img src="{{ worker.photo.url }}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="card_desc">
                                            <div class="card_name">{{ worker.name }} {{ worker.surname }}</div>
                                            <div class="card_about">{{ worker.position }} {{ worker.about }}</div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    {% endfor %}
                    {% endautoescape %}
                </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>